body {
    font-family: Noto Sans JP, -apple-system, blinkmacsystemfont, Segoe UI, Hiragino Kaku Gothic ProN, BIZ UDPGothic, meiryo, sans-serif;
}

* {
    letter-spacing: 1px;
}

.wrapper {
    max-width: 1024px;
    margin: 64px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    line-height: 1;
    width: 140px;
    padding-bottom: 50px;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 700;
    margin: unset;
}

img {
    max-width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-size: .875rem;
    font-weight: 700;
}

.home {
    color: blue;
}

.type {
    padding-top: 22px;
}

ul {
    line-height: 1.75;
}

li {
    list-style: none;
    margin-bottom: 8px;
    font-weight: 700;
}

.nuv,
.sub-nuv {
    width: calc(25% - 24px);
}

.inform {
    width: calc(50% - 16px);
}

.title {
    font-size: .875rem;
    line-height: 1.5;
    color: #666;
    font-weight: 700;
    margin: 0 0 16px;
}

.nuv p {
    color: gray;
    font-size: 12px;
    margin: 12px 0;
}

.box {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 34px;
}

.img-box {
    padding: 0;
}

.p-box {
    margin-bottom: 37px;
}

.top-box {
    border-top: 16px red solid;
}

.box img {
    width: 100%;
    border-radius: 12px 12px 0 0;
    height: auto;
}

.img-box h2 {
    padding: 18px;
}

.box p {
    padding-top: 22px;
    font-size: 16px;
    font-weight: normal;
}

.top-box p {
    padding-top: 0;
}

ul li:last-child {
    padding-bottom: 16px;
}

.sub-nuv-policy li a {
    color: #0000EE;
    text-decoration: underline;
    font-size: 12px;
}

.sub-nuv-policy ul {
    line-height: 1;
}

.sub-nuv-policy ul li:last-child {
    padding-bottom: 0;
}

.policy {
    display: inline;
    display: flex;
}

.policy-a {
    padding-left: 10px;
    font-weight: normal;
}

.sub-nuv-new {
    padding-top: 10px;
}

footer .sub-nuv ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 16px;
}

footer .sub-nuv ul li {
    width: 32px;
}

footer .sub-nuv ul img {
    width: 100%;
}

.digital-gov {
    display: block;
    background: #fff;
    border-radius: 50%;
    margin-top: 10px;
    height: 32px;
}

footer {
    background-color: #f9f9f9;
}

.footer-box {
    border: 1px solid #eaeaea;
    border-radius: 12px;
    background-color: white;
}

h3 {
    font-size: 14px;
}

span {
    font-size: 12px;
    font-weight: normal;
    color: #4d4d4d;
}

.sub-nuv span {
    line-height: 18px;
    display: inline-block;
    margin-bottom: 34px;
}

footer .wrapper {
    padding: 64px 0;
}

.arrow {
    position: fixed;
    bottom: 24px;
    right: 24px;
    border: #0f41af 1px solid;
    border-radius: 50%;
    background-color: #e7eefd;
    width: 56px;
    height: 56px;
    text-align: center;
}

.arrow img {
    width: 50%;
}

.pc-on {
    display: block;
}

.sp-on {
    display: none;
}

/* レスポンシブの記述 */
@media screen and (max-width: 959px) {

    .nuv,
    .sub-nuv,
    .inform {
        width: 100%;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        padding: 16px 24px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    h1 {
        padding: 0;
    }

    .pc-on {
        display: none;
    }

    .sp-on {
        display: block;
    }

    .header-items {
        display: flex;
        justify-content: space-between;
    }

    .header-hamburger {
        display: none;
        padding-left: 32px;
    }

    .header-hamburger.is-active {
        display: block;
    }


    .wrapper {
        padding: 30px 24px 0;
    }

    footer .wrapper {
        padding: 64px 24px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 72px 24px 24px;
        width: 100%;
    }

    .modal.is-active {
        display: block;
    }

    .sub-nuv-policy ul {
        display: flex;
        flex-wrap: wrap;
    }

    .sub-nuv ul,
    footer .sub-nuv ul {
        display: grid;
        grid-template-columns: 48px 48px 48px;
        gap: 8px;
        padding: 0 16px;
    }

    .sub-nuv ul li {
        width: 32px;
    }

    .sub-nuv ul img {
        width: 100%;
    }

    .modal .sub-nuv-policy {
        padding: 10px 0 52px;
    }

    .modal .sub-nuv-policy li {
        padding-right: 12px;
    }

    .modal p {
        color: gray;
        font-size: 12px;
        margin: 12px 0;
    }

    .modal .home {
        display: block;
        margin: 10px 0 14px;
    }

    .modal-service {
        border-bottom: 1px solid #d8d8db;
        margin-bottom: 20px;
        padding-bottom: 8px;
    }
}